<img src="img/logo.jpg" class="login-logo" />

<md-card class="login-card">
	<md-button ng-if="key !== undefined" class="md-fab md-mini card-toggle card-toggle-top card-toggle-right" md-colors="{background: key ? 'green' : 'red'}" ng-click="toggle_key()">
		<md-icon md-svg-icon="img/icons/tag.svg"></md-icon>
		<md-tooltip md-direction="top">Accedi con chiave</md-tooltip>
	</md-button>
	<div layout="column" layout-align="start stretch">
		<form>
			<div layout="column" layout-align="start stretch" layout-padding>
				<div class="md-headline">Recupera credenziali</div>
				<div class="md-subhead">Scegli la nuova password d'accesso</div>

				<md-input-container>
					<label>Nuova Password</label>
					<input type="password" ng-model="loginBean.password" required>
				</md-input-container>
				<md-input-container>
					<label>Conferma nuova password</label>
					<input type="password" ng-model="loginBean.password_confirm" required>
				</md-input-container>

				<md-button ng-disabled="!loginBean.password || loginBean.password != loginBean.password_confirm" class="md-raised md-primary" type="submit" ng-click="recupera_step2(loginBean.password)" >
					Recupera
				</md-button>
				<input type="submit" hide />

				<md-button class="md-primary" ng-click="page('login')">
					Ricordo già le mie credenziali
				</md-button>
			</div>
		</form>
	</div>
</md-card>