<div flex class="welcome-item" ng-click="page('mergepdf')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/link.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Unisci PDF</div>
</div>
<md-divider></md-divider>
<div flex class="welcome-item" ng-click="page('to1.4')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/build.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Converti PDF a PDF/A (v1.4)</div>
</div>
<md-divider></md-divider>
<div flex class="welcome-item" ng-click="page('compress')" layout="row" layout-align="center center">
	<md-icon flex class="no-padding full-height" md-svg-icon="img/icons/compress.svg"></md-icon>
	<div flex class="md-display-1" md-truncate>Comprimi PDF</div>
</div>