<md-content layout-padding>
	<div layout="row" layout-padding ng-if="!dialog.fl_force">
		<md-input-container class="md-block">
			<label>Vecchia password</label>
			<input type="password" ng-model="dialog.old_password" ng-required="true"/>
		</md-input-container>
	</div>
	<div layout="column" layout-gt-sm="row" layout-padding>
		<md-input-container class="md-block">
			<label>Nuova password</label>
			<input type="password" ng-model="dialog.new_password" ng-required="true"/>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Verifica password</label>
			<input type="password" ng-model="dialog.verify_password" ng-required="true"/>
		</md-input-container>
	</div>
	<div layout="row" layout-align="center center" layout-padding ng-if="dialog.new_password != dialog.verify_password" ng-init="dialog.check = undefined">
		<div class="md-subhead">La nuova password non coincide con la verifica</div>
		<input type="hidden" ng-model="dialog.check" ng-required="true" />
	</div>
</md-content>